<a class="text-white" href="/transaction/{{symbol}}">
    <div class="holding text-center p-3 m-2 bg-primary rounded-3" id="{{symbol}}">
        <h3>{{symbol}}</h3>
        <p class="mb-0"><strong>{{shares}}</strong> Shares</p>
    </div>
</a>