<div class="row pb-3">
    <div class="col-12 text-center">
        <h2>Hello, {{user.username}}!</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="cash" class="bg-success text-white text-center rounded-pill p-2">
            <h3><span class="iconify" data-icon="emojione:money-bag"></span> Cash: ${{user.cash}}</h3>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <form class="search-form bg-light p-3 rounded col-12">
            <div class="mb-2">
                <input type="text" id="search-field" class="form-control" placeholder="Enter stock symbol here"/>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary col-12">Search</button>
            </div>
        </form>
    </div>

    <div class="col-12 mt-3">
        <article class="holding-list bg-warning rounded p-4 bg-opacity-25">
            {{#if holdings}}
            <h3 class="text-center mb-4">Your Current Holdings:</h3>
            <div class="d-flex flex-row justify-content-evenly">
                {{#each holdings as |holding|}}
                    {{> holdings holding.dataValues}}
                {{/each}}
            </div>
            {{else}}
            <p class="text-center mb-0">No holdings yet.</p>
            {{/if}}
        </article>
    </div>
</div>

<script src="/javascript/search.js"></script>