<main class="container-fluid">
    <div class="row pt-4">
        <div class="col-12 text-center mb-3">
            {{!-- <h2 class="display-6">Welcome, {{user.username}}!</h2> --}}
            <h2><span class="iconify" data-icon="emojione:money-bag"></span> Balance: ${{cash}}</h2>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12 offset-md-3 col-md-6 mb-3">
            <form class="search-form p-3 rounded" method="POST" action="/search">
                <div class="mb-2">
                    <input type="text" id="search-field" name="symbol" class="form-control" maxlength="5" placeholder="Enter stock symbol here" required/>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary col-12">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row pt-2 mb-3">
        <div class="col-12 offset-md-3 col-md-6 mb-3">
            <div class="p-3 rounded holding-list">
                {{#if holdings}}
                <h3 class="text-center mb-4">Investments</h3>
                {{else}}
                <p class="text-center mb-0">No investments yet.</p>
                {{/if}}

                {{#each holdings as |holding|}}
                    {{> holdings-block holding.dataValues}}
                {{/each}}
            </div>
        </div>
    </div>
</main>