<main class="container-fluid pt-4">
    <div class="row">
        <p>test</p>
    </div>
</main>

{{!-- this is just a test, gonna play around with it later --}}
{{!-- {{#each transactions as |transaction|}}
<div class="col-12">
    {{transaction.symbol}}
    {{transaction.count}}
</div>
{{/each}} --}}