<div class="col-12">
    <p>Welcome to Fomo Mock Exchange!</p>
    <p>Do you regret not purchasing that stock 10 years ago?</p>
    <p>Perhaps you're a first time trader, looking to experiment before you invest real money.</p>
</div>