<main class="container-fluid">
    <div class="row pt-4">
        <div class="col-12 text-center">
            <h1 class="mb-3">Time to make all that fomo pay off!</h1>
            <p class="mb-3">Still regretting that missed buying opportunity?</p>
            <p class="mb-3">First time trader with no trading experience?</p>
            <p class="mb-3">Yep, this is the place for you.</p>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12 text-center">
            {{#if loggedIn}}
            {{#unless dashboard}}
            <a href="/dashboard">
                <div class="btn btn-primary">Dashboard</div>
            </a>
            {{/unless}}
            <button id="logout" class="btn btn-outline-danger">Logout</button>
            {{else}}
            {{#unless signup}}
            <a href="/signup">
                <div class="btn btn-outline-primary">Signup</div>
            </a>
            {{/unless}}
            {{#unless login}}
            <a href="/login">
                <div class="btn btn-outline-primary">Login</div>
            </a>
            {{/unless}}
            {{/if}}
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12 offset-md-4 col-md-4 mb-3">
            {{> chart-block}}
        </div>
    </div>
</main>