<div class="text-center">
    <h1 class="mb-3 d-flex justify-content-center">Welcome to Fomo Mock Exchange!</h1>
    <h4 class="mb-3 d-flex justify-content-center">Still regretting that missed buying opportunity?</h4>
    <h4 class="mb-3 d-flex justify-content-center">First time trader with no trading experience?</h4>
    <h4 class="mb-3 d-flex justify-content-center">This is the place for you!</h4>
    {{#if loggedIn}}
    {{#unless dashboard}}
    <a href="/dashboard">
        <div class="btn btn-primary">Dashboard</div>
    </a>
    {{/unless}}
    <button id="logout" class="btn btn-outline-danger">Logout</button>
    {{else}}
    {{#unless signup}}
    <a href="/signup">
        <div class="btn btn-outline-primary">Signup</div>
    </a>
    {{/unless}}
    {{#unless login}}
    <a href="/login">
        <div class="btn btn-primary">Login</div>
    </a>
    {{/unless}}
    {{/if}}
</div>