<div class="text-center">
    <h1 class="mb-3 d-flex justify-content-center">Welcome to Fomo Mock Exchange!</h1>
    <h4 class="mb-3 d-flex justify-content-center">Still regretting that missed buying opportunity?</h4>
    <h4 class="mb-3 d-flex justify-content-center">First time trader with no trading experience?</h4>
    <h4 class="mb-3 d-flex justify-content-center">This is the place for you!</h4>
    <a class="btn btn-outline-primary" href="/signup" role="button">Signup</a>
    <a class="btn btn-primary" href="/login" role="button">Login</a>
</div>