<div class="d-flex justify-content-center mt-5">
    <form class="login-form p-3 rounded">
        <div class="mb-3">
            <label for="username-login" class="form-label">Username:</label>
            <input type="text" id="username-login" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password:</label>
            <input type="password" id="password-login" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </form>
</div>

<script src="javascript/login.js"></script>