<div class="row">
    <div class="column"></div>
    <form class="login-form">
        <div class="mb-3">
            <label for="username-login" class="form-label">Username:</label>
            <input type="text" id="username-login" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password:</label>
            <input type="password" id="password-login" class="form-control" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </form>
</div>

<script src="javascript/login.js"></script>