<main class="d-flex justify-content-center align-items-center flex-column p-5">
    <div class="d-flex justify-content-center flex-column mb-5">
        <div class="text-center mb-4">
            <h2 class="display-2">Log In</h2>
        </div>
        <form class="login-form p-3 rounded mb-5">
            <div class="mb-3">
                <label for="username-login" class="form-label">Username:</label>
                <input type="text" id="username-login" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="password-login" class="form-label">Password:</label>
                <input type="password" id="password-login" class="form-control" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
    </div>
</main>

<script src="javascript/login.js"></script>