<main class="d-flex justify-content-center align-items-center flex-column p-5">
    <div class="d-flex justify-content-center flex-column mb-5">
        <div class="text-center mb-4">
            <h2 class="display-2">Signup</h2>
        </div>
        <form class="signup-form p-3 rounded mb-5">
            <div class="mb-3">
                <label for="username-signup" class="form-label">Username:</label>
                <input type="text" id="username-signup" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="password-signup" class="form-label">Password:</label>
                <input type="password" id="password-signup" class="form-control" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary">SIGNUP</button>
            </div>
        </form>
    </div>
</main>


<script src="javascript/signup.js"></script>