<div class="d-flex justify-content-center mt-5">
    <form class="signup-form bg-light p-3 rounded">
        <div class="mb-3">
            <label for="username-signup" class="form-label">Username:</label>
            <input type="text" id="username-signup" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password:</label>
            <input type="password" id="password-signup" class="form-control" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">SIGNUP</button>
        </div>
    </form>
</div>

<script src="javascript/signup.js"></script>