/* Dark Mode */
.darkmode {
  background-color: #181818;
  color: white;
}

.darkmodeHeader {
  background-color: #202020;
  border-bottom: #292929 2px solid;
  color: white;
}

.darkmodeFooter {
  background-color: #202020;
  border-top: #292929 2px solid;
  color: white;
}

.darkmodeInput {
  background-color: #121212;
  border: #292929 2px solid;
  color: white;
}

.darkmodeInput:focus {
  background-color: #121212;
  border-color: #0d6efd;
  box-shadow: none;
  color: white;
}

.darkModeBtn {
  font-size: 1.5rem;
}

.darkModeTable {
  color: white;
}

.darkModeTable>:not(caption)>*>* {
  border-bottom: 1px #292929 solid;
}
/* Dark Mode END */

* {
  box-sizing: border-box;
  transition: background ease 0.4s;
}

a,
a:hover {
  text-decoration: none;
}

.signup-form,
.login-form,
.trade-form,
.search-form {
  box-shadow: 0px 0px 10px 5px #88888850;
}

.signup-form button,
.login-form button {
  width: 100%;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.holding:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(33,33,33,.2);
  transition: all .3s ease;
}

.holding {
  box-shadow: 0 0 10px rgba(33,33,33,.2);
  transition: all .3s ease;
}
